.tracks-container {
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .track {
        position: relative;
        overflow: hidden;
        cursor: pointer;
        
        flex: auto;
        width: 200px;

        .track-cover {
            z-index: $underground;
            max-height: 200px;

            img {
                width: 100%;;
            }

            transition-duration: 2s;
            &:hover{
                transform: scale(1.4);
            }
        }

    }

}